
#content {
display:flex;    

flex-direction: row;
min-height: 100vh;

}
nav {
background-color: rgb(219, 206, 206);
width: 220px;


}
main {
display: grid;
grid-template-columns: repeat(4, 1fr);

flex: 1;
}




body {
    
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.days {
display: grid;
grid-template-columns: repeat(4, 1fr);
background-color: antiquewhite;
text-align: center;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: flex-start;
}

header {
    background-color: rgb(175, 226, 226);
    text-align: center;
}
.addedTodo {
width: auto;
background-color: rgb(166, 220, 229);
text-align: center;
}
